<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/datatables.min.css"/>

<!-- Custom styles for this template -->
<link href="/css/simple-sidebar.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="/css/bootstrap-toggle.min.css" type="text/css" rel="stylesheet">

<title>IoT Manager - <%= title %></title>
