  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/Chart.bundle.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/datatables.min.js"></script>
  <script src="/js/bootstrap-toggle.min.js"></script>
  <script src="/js/btn-toggle.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/fontawesome.min.js"></script>
