 <!-- Sidebar -->
 <div class="border-right position-fixed" id="sidebar-wrapper">
    <div class="sidebar-heading">IoT Manager</div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action <%= title == 'Dashboard' ? 'active' : '' %>">Dashboard</a>
      <a href="/stats" class="list-group-item list-group-item-action <%= title == 'Stats' ? 'active' : '' %>">Statistiques</a>
      <a href="/products" class="list-group-item list-group-item-action <%= title == 'Produits' ? 'active' : '' %>">Produits</a>
      <a href="/devices" class="list-group-item list-group-item-action <%= title == 'Devices' ? 'active' : '' %>">Devices</a>
      <a href="/settings" class="list-group-item list-group-item-action <%= title == 'Paramètres' ? 'active' : '' %>">Paramètres</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->