<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head') %>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <%- include('components/sidebar') %>

    <div id="page-content-wrapper">
      <%- include('components/topbar') %>

      <!-- page content -->

      <div id="content-div">
        <% if(devices){ %>
          <table id="devices-table" class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Dernière activité</th>
                <th>Date de création</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <% }else{ %>
          <div class="card card-error">
            <div class="card-header">
              Impossible de récupérer les données
            </div>
            <div class="card-body">
              <%= error %>
            </div>
          </div>
        <% } %>

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addDeviceForm" name="addDevice">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="deviceName">Nom</label>
                    <input class="form-control" type="text" name="deviceName" required>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>      
           
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <%- include('components/scripts') %>
  <script>

    function authorizeDevice(e, id){
        apiCall('http://<%= ip %>:3000/api/devices/authorize', 'post', {
          Authorization: 'Bearer <%= token %>'
        }, {
          deviceId: id,
          authorize: !$(e).hasClass("active")
        }, 
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            console.log(data);
            if(!data.error){
              $(e).btnToggle();
            }
          }

          $(e).prop('disabled', false);
        });
      }

    $(document).ready(function () {
      $('#devices-table').DataTable({
        pageLength: 10,
        bLengthChange: false,
        dom: 'Bfrtip',
        buttons: [
          {
            text: 'Ajouter',
            action: function(){
              $('#addModal').modal('show');
            },
            className: 'btn btn-success'
          }
        ]
      });

      $('#addDeviceForm').submit(addDevice);

      updateDevices();
    });

    function addDevice(){
      apiCall('http://<%= ip %>:3000/api/devices/', 'post', {
          Authorization: 'Bearer <%= token %>'
        }, {
          name: document.addDevice.deviceName.value
        }, 
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            console.log(data);
            if(!data.error){
              $(this).btnToggle();
            }
          }

          document.addDevice.deviceName.value = "";
          $('#addModal').modal('hide');
          updateDevices();
        });

        return false;
    }

    function deleteDevice(id){
      apiCall('http://<%= ip %>:3000/api/devices/delete', 'post', {
          Authorization: 'Bearer <%= token %>'
        }, {
          deviceId: id
        }, 
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            console.log(data);
          }

          updateDevices();
        });
    }

    function updateDevices(){
      apiCall('http://<%= ip %>:3000/api/devices/', 'get', {
          Authorization: 'Bearer <%= token %>'
        },{},
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            var table = $('#devices-table').DataTable();
            table.clear().draw();
            data.devices.forEach(device => {

              table.row.add([
                device.id,
                device.device_name,
                device.last_active_datetime,
                device.createdAt,
                `<input class="btn btn-toggle authorized-toggle ${device.authorized ? 'active' : '' }" type="button" value="${device.authorized ? 'On' : 'Off'}" onclick="authorizeDevice(this, ${device.id})" data-enabled="On" data-disabled="Off">
                <button class="btn btn-danger" onclick="deleteDevice(${device.id})">Supprimer</button>`
              ]).draw(false);
            });
            //console.log(data);
          }
      });
    }
      
  </script>

</body>

</html>
