<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head') %>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <%- include('components/sidebar') %>

    <div id="page-content-wrapper">
      <%- include('components/topbar') %>

      <!-- page content -->
      <div class="container-fluid" style="margin-top: 10px;">

        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                Nombre de devices
              </div>
              <div class="card-body">
                <%= nbDevices %>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                Produits vendus aujourd'hui
              </div>
              <div class="card-body">
                <%= sold %>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <div class="card-header">
                Estimation des bénéfices
              </div>
              <div class="card-body">
                2'584 CHF
              </div>
            </div>
          </div>
        </div>

        <br>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                Évenements
              </div>
              <div class="card-body">
                <table id="events-table" class="table table-hover table-sm table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Type</th>
                      <th>Action</th>
                      <th>Device</th>
                      <th>Produit</th>
                      <th>Informations</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="display: block; width: 400px; height: 400px;">
              <canvas id="myChart" width="200" height="200" style="display: block; width: 400px; height: 400px;"></canvas>
            </div>
          </div>
        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <%- include('components/scripts') %>
  <script>

    $(document).ready(function () {
      $('#events-table').DataTable({
        pageLength: 10,
        bLengthChange: false,
        dom: 'Bfrtip',
        buttons: [],
        order: [[0, "desc"]]
      });
    });

    var ctx = document.getElementById('myChart').getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [{
              label: 'Sold products',
              data: <%- JSON.stringify(soldData) %>,
              fill: false,
              borderColor: [
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1,
              lineTension: 0
          }]
      },
      options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    unit: 'hour'
                }
            }]
        }
    }
  });

  function addElement(){
    console.log('add');
    myChart.data.datasets[0].data.push({x: new Date(), y: 16});
    myChart.update();
  }

  function updateEvents(){
      apiCall('http://<%= ip %>:3000/api/events/', 'get', {
          Authorization: 'Bearer <%= token %>'
        },{},
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            var table = $('#events-table').DataTable();
            table.clear().draw();
            data.events.forEach(event => {

              table.row.add([
                event.id,
                event.type,
                event.action,
                event.onDevice,
                event.onProduct,
                event.data
              ]).draw(false);
            });
            //console.log(data);
          }
      });
    }

    updateEvents();

  </script>

</body>

</html>
