<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head') %>
</head>

<body>
  <div class="d-flex" id="wrapper">

    <div id="page-content-wrapper" style="margin-left: 0px;">

      <!-- page content -->
      <div class="container-fluid Aligner">
        <div class="card Alinger-item" id="login-card">
          <div class="card-header">
            IoT Manager - Connexion
          </div>
          <div class="card-body">
            <form action='/login' method="POST">
              <div class="form-group">
                <label for="username">Identifiant</label>
                <input type="text" name="username" id="username" class="form-control" value="<%= username %>" required>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" required>
              </div>
              <%if (error == 'login' || error == 'notAllowed'){ %><p style="color: red;">Identifiant ou mot de passe invalide</p> <% }%>
              <input type="submit" class="btn btn-primary" value="Se connecter">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <%- include('components/scripts') %>
</body>

</html>
