<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/head') %>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <%- include('components/sidebar') %>

    <div id="page-content-wrapper">
      <%- include('components/topbar') %>

      <!-- page content -->

      <div id="content-div">
        <% if(products){ %>
          <table id="products-table" class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité en stock</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <% }else{ %>
          <div class="card card-error">
            <div class="card-header">
              Impossible de récupérer les données
            </div>
            <div class="card-body">
              <%= error %>
            </div>
          </div>
        <% } %>

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form id="addProductForm" name="addProduct">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="productName">Nom</label>
                    <input class="form-control" type="text" name="productName" required>
                    <label for="price">Prix</label>
                    <input class="form-control" type="number" step="0.01" name="price" required>
                    <label for="quantity">Quantité en stock</label>
                    <input class="form-control" type="number" step="1" name="quantity" required>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                  <button type="submit" class="btn btn-primary">Valider</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>      
           
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <%- include('components/scripts') %>
  <script>

    $(document).ready(function () {
      $('#products-table').DataTable({
        pageLength: 10,
        bLengthChange: false,
        dom: 'Bfrtip',
        buttons: [
          {
            text: 'Ajouter',
            action: function(){
              $('#addModal').modal('show');
            },
            className: 'btn btn-success'
          }
        ]
      });

      $('#addProductForm').submit(addProduct);

      updateTable();
    });

    function addProduct(){
      apiCall('http://<%= ip %>:3000/api/products/', 'post', {
          Authorization: 'Bearer <%= token %>'
        }, {
          name: document.addProduct.productName.value,
          price: document.addProduct.price.value,
          quantity: document.addProduct.quantity.value
        }, 
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            console.log(data);
          }

          document.addProduct.productName.value = "";
          $('#addModal').modal('hide');
          updateTable();
      });

      return false;
    }

    function deleteProduct(id){
      apiCall('http://<%= ip %>:3000/api/products/delete', 'post', {
          Authorization: 'Bearer <%= token %>'
        }, {
          productId: id
        }, 
        (error, data) => {
          if(error){
            console.log(error);
          }
          console.log(data);
          
          updateTable();
        });
    }

    function updateTable(){
      apiCall('http://<%= ip %>:3000/api/products/', 'get', {
          Authorization: 'Bearer <%= token %>'
        },{},
        (error, data) => {
          if(error){
            console.log(error);
          }else{
            var table = $('#products-table').DataTable();
            table.clear().draw();
            data.products.forEach(product => {

              table.row.add([
                product.id,
                product.name,
                product.price,
                product.stock_quantity,
                `<button class="btn btn-danger" onclick="deleteProduct(${product.id})">Supprimer</button>`
              ]).draw(false);
            });
            //console.log(data);
          }
      });
    }
      
  </script>

</body>

</html>
