/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
  background-color: rgb(243, 239, 239);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #00707D;
  
  -webkit-box-shadow: 3px 0px 5px 0px rgba(191,191,191,1);
  -moz-box-shadow: 3px 0px 5px 0px rgba(191,191,191,1);
  box-shadow: 3px 0px 5px 0px rgba(191,191,191,1);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  margin-left: 240px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper a{
  background-color: #00707D;
  color: white;
  font-weight: bold;
}

#sidebar-wrapper a.active{
  background-color: #00AEC2;
  border-color: #00AEC2;
}

#sidebar-wrapper a:hover{
  background-color: #00CCE3;
  border-color: #00CCE3;
}

#top-navbar{
  background-color: #D0D0D0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
