#login-card{
    min-width: 25%;
    max-width: 50%;
}

.card{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(191,191,191,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(191,191,191,1);
    box-shadow: 3px 3px 5px 0px rgba(191,191,191,1);
}

.card .card-header{
    background-color: #00707D;
    color: white;
}

.btn-primary{
    background-color: #00707D;
    border-color: #00707D;
}

.btn-primary:hover{
    background-color: #0091A1;
    border-color: #0091A1;
}

.Aligner {
    display: flex;
    align-items: center;
    min-height: 50em;
    justify-content: center;
  }
  
  .Aligner-item {
    flex: 1;
  }
  
  .Aligner-item--top {
    align-self: flex-start;
  }
  
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  
  .Aligner-item--fixed {
    flex: none;
    max-width: 50%;
  }

  .card-error{
    margin: 15px auto auto auto;
    max-width: 666px;
  }

  .card-error > .card-header{
    background-color: #ff4444;
  }

  #devices-table_wrapper{
    margin: 30px;
  }

  .btn-toggle{
    background-color: #757575;
  }

  .btn-toggle.active{
    background-color: #00d440;
  }

  #content-div{
    margin: 15px;
  }