<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <%- include('../components/sidebar') %>

    <div id="page-content-wrapper">
      <%- include('../components/topbar') %>

      <!-- page content -->
      
      <p>401: Unauthorized</p>
        
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <%- include('../components/scripts') %>

</body>

</html>
